* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    background-color: #badc58;
    height: 100vh;
    position: relative;
    &__field {
        background-color: #FFF;
        width: 300px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-wrap: wrap;
    }
    &__one, &__two, &__three {
        width: 100px;
        height: 100px;
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        progress {
            width: 100px;
            display: none;
        }
    }
    &__field-collect {
        display: none;
    }
    &__two {
        margin: 0 2px;
    }
}
.chest {
    height: 100%;
    width: 300px;
    background-color: #30336b;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__bag {
        width: 100%;
        // height: 300px;
        flex: 1;
    }
    &__grain {
        width: 40px;
        height: 40px;
    }
    &__store {
        width: 100%;
        // height: 300px;
        flex: 1;
    }
    &__bag-container {
        margin: 20px 0 0 20px;
        display: flex;
    }
    &__store-container {
        margin: 20px 0 0 20px;
        display: flex;
    }
    &__vegetables {
        img {
            width: 40px;
            height: 40px;
            filter: grayscale(1);
        }
    }
}
.status {
    display: flex;
    position: absolute;
    width: 100%;
    &__pocket {
        width: 200px;
        background-color: rgba(241, 196, 15, 0.6);
        font-size: 20px;
        img {
            width: 30px;
            height: 30px;
            padding-right: 10px;
        }
    }
    &__addField {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 40px;
        bottom: 40px;
    }
    &__level {
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #FFF;
        line-height: 30px;
        text-align: center;
    }
    &__level-box {
        position: absolute;
        left: 35%;
        display: flex;
        align-items: center;
    }
}
